<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smpn2suradadi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SMPN 8 TEGAL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPN2SURADADI">
        <activity android:name=".AgendaActivity"/>
        <activity android:name=".ProfilActivity"/>
        <activity android:name=".InformasiActivity" />
        <activity android:name=".PrestasiActivity" />
        <activity android:name=".EskulActivity" />
        <activity android:name=".TugasActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>